body {
    background-color: black;
}

#btn {
    background-color: green;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    margin-top: 30px;
}

#div {
    text-align: center;
    margin-top: 15%;

}

.inp {
    width: 100px;
    height: 50px;
    font-size: 23px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
}



.göndər{
    background-color: blue;
    width: 100px;
    height: 50px;
    font-size: 23px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 30px;
}





.Hon{
    color: red;
    font-size: 20px;
    margin-top: 30px;
}